# Configurações de conexão com o PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=seu_usuario
DB_PASS=sua_senha

# Identificador do arquivo ZIP de viagens no Google Drive
DRIVE_FILE_ID=insira_o_id_do_arquivo_aqui
